<!-- /templates/article.liquidd -->

{% assign number_of_comments = article.comments_count %}

{% comment %}
  If a comment was just submitted and it has no blank fields, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

<article itemscope itemtype="http://schema.org/Article">
  <header class="row row-fullwidth tl-hero fadein-1" style="background-image:url('{{ article.image | img_url: '2048x2048' }}');background-repeat:no-repeat;background-size:cover;">
    <div class="tl-hero-cover">
    </div>
    <div class="tl-down-arrow">
      <img src="{{ 'down-arrow.svg' | asset_url }}" />
    </div>
    <div class="row">
      <div class="col-full content">
        <span class="tl-hero-subhead fadein-2">
          <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
        </span>
        <h1 class="fadein-3">
          {{ article.title }}
        </h1>
        <span class="tl-hero-subhead fadein-2">
          {{ article.author }}
        </span>
      </div>
    </div>
  </header>

  <!-- the article itself -->
  <div class="row tl-article" itemprop="articleBody">
    {{ article.content }}
  </div>
  <!-- /the article itself -->

  <!-- pagination (for now) -->
  <div class="row">
    {% if blog.next_article or blog.previous_article %}
      {% if blog.previous_article %}
        <div class="col-half">
          <a href="{{ blog.previous_article }}" class="btn btn--secondary btn--small uppercase">
            &larr; {{ 'blogs.article.older_post' | t }}
          </a>
        </div>
      {% endif %}
      {% if blog.next_article %}
        <div class="col-half" style="text-align:right;">
          <a href="{{ blog.next_article }}" class="btn btn--secondary btn--small uppercase">
            {{ 'blogs.article.newer_post' | t }} &rarr;
          </a>
        </div>
      {% endif %}
    {% endif %}
  </div>
  <!-- /pagination (for now) -->

</article>

<div class="row row-fullwidth tl-hero-featured-row">
  <!-- todo:blog page featured collections -->
  {% for collection in collections limit:3 %}
  <a href="{{ collection.url }}">
    <div class="col-third tl-box-container">
      <div class="tl-collection-box fadein-1" style="background-image:url('{{ collection | img_url: 'large' }}');background-repeat:no-repeat;background-size:cover;">
        <div class="tl-box-cover">
        </div>
        <h1 class="tl-box-name">
           {{ collection.title }}
        </h1>
      </div>
    </div>
  </a>
  {% endfor %}
  <!-- /todo:blog page featured -->

  <!-- todo:blog page featured boxes -->
  <a href="#">
    <div class="col-half tl-box-container">
      <div class="tl-collection-box fadein-2" style="background-image:url('{{ 'featured-1.jpg' | asset_url }}');background-repeat:no-repeat;background-size:cover;">
        <div class="tl-box-cover">
        </div>
        <h1 class="tl-box-name">
          Featured 1
        </h1>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="col-half tl-box-container">
      <div class="tl-collection-box fadein-3" style="background-image:url('{{ 'featured-2.jpg' | asset_url }}');background-repeat:no-repeat;background-size:cover;">
        <div class="tl-box-cover">
        </div>
        <h1 class="tl-box-name">
          Featured 2
        </h1>
      </div>
    </div>
  </a>
  <!-- /todo:blog page featured boxes -->
</div>

<!-- todo:subscribe form -->
<!-- todo:social media -->
