<!-- /templates/blog.liquid -->

{% comment %}
  This template is also used for listing out articles of a specific tag.
  You can change layouts or styles by checking if current_tags is true.
{% endcomment %}

<!-- todo:blog page hero config -->
<header class="row row-fullwidth tl-hero-bump-sm tl-hero fadein-1" style="background-image:url('{{ settings.tl_blog_img | img_url: '1024x1024' | format: 'jpg' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;">
  <div class="tl-hero-cover">
  </div>
  <div class="tl-down-arrow">
    <img src="{{ 'down-arrow.svg' | asset_url }}" />
  </div>
  <div class="row">
    <div class="col-full content">
      <h1 class="fadein-3">
        {{ settings.tl_blog_hero }}
      </h1>
      <span class="tl-hero-subhead fadein-2">
        {{ settings.tl_blog_subhero }}
      </span>
    </div>
  </div>
</header>
<!-- /todo:blog page hero config -->

<div class="row row-fullwidth tl-hero-featured-row">
  {% for article in blog.articles %}
  <a href="{{ article.url }}">
    <div class="col-third tl-box-container">
      <div class="tl-collection-box fadein-1" style="background-image:url('{{ article.image | img_url: '1024x1024' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;">
        <div class="tl-box-cover">
        </div>
        <div class="tl-box-content">
          <span class="tl-box-subhead">
            <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
          </span>
          <h1 class="tl-box-name-alt">
             {{ article.title }}
          </h1>
          <span class="tl-box-subhead">
            by {{ article.author }}
          </span>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

<div class="row row-fullwidth row-tl-bump-2x tl-promotion" style="background-image:url('{{ settings.featured_promotion_img | img_url: '1024x1024' | format: 'jpg' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;position:relative;">
  <div class="tl-promo-overlay" style="background-color:{{ settings.featured_promotion_color }};">
  </div>
  <div class="content col-full text-center tl-promotion">
    <h4>
      {{ settings.featured_promotion }}
    </h4>
    <a href="{{ settings.featured_promotion_url }}" class="tl-btn tl-btn-white-outline">
      {{settings.featured_promotion_button}}
    </a>
  </div>
</div>
