<header class="row row-fullwidth tl-hero fadein-1" style="background-image:url('{% if collection.handle != 'all' %}{{ collection.image | img_url: '2048x2048' }}{% else %} {{ settings.tl_store_img | img_url: '1024x1024' | format: 'jpg' }}{% endif %}');background-repeat:no-repeat;background-size:cover;background-position:center center;">
  <div class="tl-hero-cover">
  </div>
  <div class="tl-down-arrow">
    <img src="{{ 'down-arrow.svg' | asset_url }}" />
  </div>
  <div class="row">
    <div class="col-full content">
      <h1 class="fadein-3">
        {% if collection.handle != 'all' %}
          {{ collection.title }}
        {% else %}
          <img src="{{ "create-yourself-white.svg" | asset_url }}" />
        {% endif %}
      </h1>
      <span class="tl-hero-subhead fadein-2">
        {{ collection.description }}
      </span>
    </div>
  </div>
</header>

<!-- sorting -->
{% if settings.collection_sorting %}
<div class="row text-right collection__sort">
  {% include 'collection-sorting' %}
</div>
{% endif %}
<!-- /sorting -->

{% if collection.handle == 'all' %}
<!-- the catalog page -->
{% for collection in collections %}
<div class="row row-fullwidth tl-products-row row-tl-bump">
  <div class="col-full content">
    <h2 class="tl-subhead">{{ collection.title }}</h2>
    <div class="grid-uniform tl-three-quarter-width tl-grid-flex">
      <!-- todo: single product view on mobile scroll -->
      {% assign grid_width_large = {{settings.global_grid_width_large}} %}
      {% assign grid_width_medium = {{settings.global_grid_width_medium}} %}
      {% assign grid_width_small = {{settings.global_grid_width_small}} %}
      {% for product in collection.products %}
        {% include 'product-grid-item' %}
      {% else %}
        {% if collection.handle == 'all'%}
          {% unless emptyState %}
            {{ 'theme-onboarding.css' | asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}
          {% include 'onboarding-empty-collection' %}
        {% else %}
        <div class="grid__item">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
<!-- /the catalog page -->
{% else %}
<!-- single collection page -->
<div class="row row-fullwidth tl-products-row row-tl-bump">
  <div class="col-full content">
    <div class="grid-uniform tl-three-quarter-width tl-grid-flex">
      {% assign grid_width_large = {{settings.global_grid_width_large}} %}
      {% assign grid_width_medium = {{settings.global_grid_width_medium}} %}
      {% assign grid_width_small = {{settings.global_grid_width_small}} %}
      {% for product in collection.products %}
        {% include 'product-grid-item' %}
      {% else %}
        {% if collection.handle == 'all'%}
          {% unless emptyState %}
            {{ 'theme-onboarding.css' | asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}
          {% include 'onboarding-empty-collection' %}
        {% else %}
        <div class="grid__item">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="tl-collection-cta text-center">
      <a href="{{ shop.url }}/collections/all" class="tl-btn tl-btn-gold">
        All Products
      </a>
    </div>
  </div>
</div>
<!-- /single collection page -->
{% endif %}

<div class="row row-fullwidth row-tl-bump-2x tl-promotion" style="background-image:url('{{ settings.collection_promotion_img | img_url: '1024x1024' | format: 'jpg' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;position:relative;">
  <div class="tl-blog-promo-overlay" style="background-color:{{ settings.collection_promotion_color }};">
  </div>
  <div class="content col-full text-center tl-promotion">
    <h4>
      {{ settings.collection_promotion }}
    </h4>
    <a href="{{ settings.collection_promotion_url }}" class="tl-btn tl-btn-white-outline">
      {{settings.collection_promotion_button}}
    </a>
  </div>
</div>
