  <div class="row row-fullwidth tl-hero-featured-row">
    <!-- todo:home page featured collections -->
    {% for collection in collections limit:3 %}
    <a href="{{ collection.url }}">
      <div class="col-third tl-box-container">
        <div class="tl-collection-box fadein-1" style="background-image:url('{{ collection | img_url: 'large' }}');background-repeat:no-repeat;background-size:cover;">
          <div class="tl-box-cover">
          </div>
          <h1 class="tl-box-name">
             {{ collection.title }}
          </h1>
        </div>
      </div>
    </a>
    {% endfor %}
    <!-- /todo:home page featured -->

    <!-- todo:home page featured boxes -->
    <a href="#">
      <div class="col-half tl-box-container">
        <div class="tl-collection-box fadein-2" style="background-image:url('{{ 'featured-1.jpg' | asset_url }}');background-repeat:no-repeat;background-size:cover;">
          <div class="tl-box-cover">
          </div>
          <h1 class="tl-box-name">
            Featured 1
          </h1>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="col-half tl-box-container">
        <div class="tl-collection-box fadein-3" style="background-image:url('{{ 'featured-2.jpg' | asset_url }}');background-repeat:no-repeat;background-size:cover;">
          <div class="tl-box-cover">
          </div>
          <h1 class="tl-box-name">
            Featured 2
          </h1>
        </div>
      </div>
    </a>
    <!-- /todo:home page featured boxes -->
  </div>
