  <div class="row row-fullwidth tl-hero-featured-row">
    <a href="{{ collections[settings.featured_small_1_link].url }}">
      <div class="col-third tl-box-container">
        <div class="tl-collection-box fadein-1" style="background-image:url('{{ settings.featured_small_1_img | img_url: '1024x1024' | format: 'jpg' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;">
          <div class="tl-box-cover">
          </div>
          <h1 class="tl-box-name">
             {{ settings.featured_small_1_title }}
          </h1>
        </div>
      </div>
    </a>
    <a href="{{ collections[settings.featured_small_2_link].url }}">
      <div class="col-third tl-box-container">
        <div class="tl-collection-box fadein-1" style="background-image:url('{{ settings.featured_small_2_img | img_url: '1024x1024' | format: 'jpg' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;">
          <div class="tl-box-cover">
          </div>
          <h1 class="tl-box-name">
             {{ settings.featured_small_2_title }}
          </h1>
        </div>
      </div>
    </a>
    <a href="{{ collections[settings.featured_small_3_link].url }}">
      <div class="col-third tl-box-container">
        <div class="tl-collection-box fadein-1" style="background-image:url('{{ settings.featured_small_3_img | img_url: '1024x1024' | format: 'jpg' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;">
          <div class="tl-box-cover">
          </div>
          <h1 class="tl-box-name">
             {{ settings.featured_small_3_title }}
          </h1>
        </div>
      </div>
    </a>
    <a href="{{ settings.featured_1_link }}">
      <div class="col-half tl-box-container">
        <div class="tl-collection-box fadein-2" style="background-image:url('{{ settings.featured_1_img | img_url: '1024x1024' | format: 'jpg' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;">
          <div class="tl-box-cover">
          </div>
          <h1 class="tl-box-name">
            {{ settings.featured_1_title }}
          </h1>
        </div>
      </div>
    </a>
    <a href="{{ settings.featured_2_link }}">
      <div class="col-half tl-box-container">
        <div class="tl-collection-box fadein-3" style="background-image:url('{{ settings.featured_2_img | img_url: '1024x1024' | format: 'jpg' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;">
          <div class="tl-box-cover">
          </div>
          <h1 class="tl-box-name">
            {{ settings.featured_2_title }}
          </h1>
        </div>
      </div>
    </a>
  </div>

  <div class="row row-fullwidth text-center row-tl-bump">
    <img src="{{ 'ambition-moves.svg' | asset_url }}" />
  </div>

  <div class="row row-fullwidth">
    <div class="content col-full">


      <div class="homepage-collection {{ settings.homepage_collection_color }}">
        <div class="wrapper">
          <div class="grid-uniform tl-grid tl-grid-flex tl-hide-last">
            {% for product in collections[settings.featured_collection_home].products limit: 4 %}
              {% include 'product-grid-item' %}
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row row-fullwidth row-tl-bump-bottom">
    <div class="content col-full text-center">
      <img src="{{ settings.featured_break_img | img_url: '1024x1024' | format: 'jpg' }}" width="660px" />
    </div>
  </div>

  <div class="row row-fullwidth row-tl-bump-2x tl-promotion" style="background-image:url('{{ settings.featured_promotion_img | img_url: '1024x1024' | format: 'jpg' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;position:relative;">
    <div class="tl-promo-overlay" style="background-color:{{ settings.featured_promotion_color }};">
    </div>
    <div class="content col-full text-center tl-promotion">
      <h4>
        {{ settings.featured_promotion }}
      </h4>
      <a href="{{ settings.featured_promotion_url }}" class="tl-btn tl-btn-white-outline">
        {{settings.featured_promotion_button}}
      </a>
    </div>
  </div>
