<div class="tl-wrapper">
  <!-- section -->
  <div class="row row-fullwidth row-lg-height tl-about-section-1 tl-row-bump" style="background-image:url('{{ settings.about_img_1 | img_url: '1024x1024' | format: 'jpg' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;">
  </div>
  <div class="row tl-topo-bg text-center row-tl-bump-6x">
    <div class="col-full content">
      <div class="tl-head-script">
        <img src="{{ 'ambition-frees-us-dark.svg' | asset_url }}" width="700px"/>
      </div>
      <img src="{{ 'tomorrow.png' | asset_url }}" width="275px" />
      <p class="tl-grey-body tl-half-width tl-focus-text content-bump-3x-top">
        We're going. Going. Gone. <br />
        Gone to a place of unbridled freedom. Slamming back sunshine and raising our glasses to the rising moon.
      </p>
    </div>
  </div>
  <!-- /section -->

  <!-- section -->
  <div class="row row-fullwidth row-lg-height tl-about-section-1 tl-row-bump" style="background-image:url('{{ settings.about_img_2 | img_url: '1024x1024' | format: 'jpg' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;">
  </div>
  <div class="row tl-topo-bg text-center row-tl-bump-6x">
    <div class="col-full content">
      <div class="tl-head-script">
        <img src="{{ 'ambition-moves-us.svg' | asset_url }}" width="700px"/>
      </div>
      <img src="{{ 'downhill.svg' | asset_url }}" width="275px" />
      <p class="tl-grey-body tl-half-width tl-focus-text content-bump-3x-top">
        The wind in our faces, a 'do you trust me' flame in our eyes, and a savage grin the makes the steeliest of men feel nervous.
      </p>
    </div>
  </div>
  <!-- /section -->

  <!-- section -->
  <div class="row row-fullwidth row-lg-height tl-about-section-1 tl-row-bump" style="background-image:url('{{ settings.about_img_3 | img_url: '1024x1024' | format: 'jpg' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;">
  </div>
  <div class="row tl-topo-bg text-center row-tl-bump-6x">
    <div class="col-full content">
      <div class="tl-head-script">
        <img src="{{ 'ambition-is-flow.svg' | asset_url }}" width="700px"/>
      </div>
      <img src="{{ 'stay-lost.svg' | asset_url }}" width="480px" />
      <p class="tl-grey-body tl-half-width tl-focus-text content-bump-3x-top">
        Caravanning along the wide open road. Choosing a destination, but knowing a different one may choose us. Mincing no words with haters trying to wreck our high as we motor along.
      </p>
    </div>
  </div>
  <!-- /section -->

  <!-- section -->
  <div class="row row-fullwidth row-lg-height tl-about-section-1 tl-row-bump" style="background-image:url('{{ settings.about_img_4 | img_url: '1024x1024' | format: 'jpg' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;">
  </div>
  <div class="row tl-topo-bg text-center row-tl-bump-6x">
    <div class="col-full content">
      <div class="tl-head-script">
        <img src="{{ 'ambition-mantra.svg' | asset_url }}" width="700px"/>
      </div>
      <img src="{{ 'stay-lost.svg' | asset_url }}" width="480px" />
      <p class="tl-grey-body tl-half-width tl-focus-text content-bump-3x-top">
        <strong>
          Our lifestyle is who we are.
        </strong>
        It's no more separable from us than our very own DNA. We breathe our lives. On the inhale, we fill our souls and expand our inner landscape with the current of life. On the exhale, we open our focus to endless possibilities and our arms to fellow travelers.
      </p>
      <p class="tl-grey-body tl-half-width tl-focus-text content-bump-3x-top">
        We find just as much joy in a wordless sunset shared with a friend as we do a night of burlesque gaiety.
      </p>
    </div>
  </div>
  <!-- /section -->

  <!-- section -->
  <div class="row row-fullwidth row-lg-height tl-about-section-1 tl-row-bump" style="background-image:url('{{ settings.about_img_5 | img_url: '1024x1024' | format: 'jpg' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;">
  </div>
  <div class="row tl-topo-bg text-center row-tl-bump-6x">
    <div class="col-full content">
      <div class="tl-head-script">
        <img src="{{ 'wanderers-club.svg' | asset_url }}" width="500px"/>
      </div>
      <p class="tl-grey-body tl-half-width tl-focus-text content-bump-3x-top">
        We breathe competition.<br />
        We see no obstacles. The more formidable the terrain, the faster we push. We feed off of the burning in our lungs and the dirt on our tounges.
      </p>
      <p class="tl-grey-body tl-half-width tl-focus-text content-bump-3x-top">
        Others may think they're racing us, but in them, we see mere bystanders. Work ethic might be good enough for an office job, but out here, we judge our progress in scar tissue and wins.
      </p>
    </div>
  </div>
  <!-- /section -->

</div>

<div class="row row-fullwidth row-tl-bump-2x tl-promotion" style="background-image:url('{{ settings.collection_promotion_img | img_url: '1024x1024' | format: 'jpg' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;position:relative;">
  <div class="tl-blog-promo-overlay" style="background-color:{{ settings.collection_promotion_color }};">
  </div>
  <div class="content col-full text-center tl-promotion">
    <h4>
      {{ settings.collection_promotion }}
    </h4>
    <a href="{{ settings.collection_promotion_url }}" class="tl-btn tl-btn-white-outline">
      {{settings.collection_promotion_button}}
    </a>
  </div>
</div>

<div class="row row-fullwidth tl-hero-featured-row">
  <a href="{{ settings.featured_1_link }}">
    <div class="col-half tl-box-container">
      <div class="tl-collection-box fadein-2" style="background-image:url('{{ settings.featured_1_img | img_url: '1024x1024' | format: 'jpg' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;">
        <div class="tl-box-cover">
        </div>
        <h1 class="tl-box-name">
          {{ settings.featured_1_title }}
        </h1>
      </div>
    </div>
  </a>
  <a href="{{ settings.featured_2_link }}">
    <div class="col-half tl-box-container">
      <div class="tl-collection-box fadein-3" style="background-image:url('{{ settings.featured_2_img | img_url: '1024x1024' | format: 'jpg' }}');background-repeat:no-repeat;background-size:cover;background-position:center center;">
        <div class="tl-box-cover">
        </div>
        <h1 class="tl-box-name">
          {{ settings.featured_2_title }}
        </h1>
      </div>
    </div>
  </a>
</div>
