<div class="about-wrapper">
  <!-- Hero Section -->
    <div class="hero">
      <img src="{{ 'hero-bg.png' | asset_url }}">
    </div>
    <div class="float">
      <img src="{{ 'Ambition Frees Us.png' | asset_url }}" class="float">
    </div>
    <div class="body">
      <img src="{{ 'tomorrow.png' | asset_url }}">
      <p>We’re going. Going. Gone. <br />
        Gone to a place of unbridled freedom. Slamming back sunshine and raising
        our glasses to the rising moon.</p>
    </div>
    <!-- Section 2 -->
    <div class="bg-row">
      <img src="{{ 'sectionbg-2.png' | asset_url }}">
    </div>
    <div class="float">
      <img src="{{ 'ambition-moves.png' | asset_url }}">
    </div>
    <div class="body">
      <img src="{{ 'mtb.png' | asset_url }}">
      <p>The wind in our faces<br />
        A ‘do you trust me’ flame in our eyes<br />
        And a savage grin that makes the steeliest of men feel nervous.</p>
    </div>
    <!-- Section 3 -->
    <div class="bg-row">
      <img src="{{ 'campfire-bg.png' | asset_url }}">
    </div>
    <div class="float">
      <img src="{{ 'flow.png' | asset_url }}">
    </div>
    <div class="body">
      <img src="{{ 'van.png' | asset_url }}">
      <p>Caravanning along the wide open road. Choosing a destination, but knowing
         a different one may choose us. Mincing no words with haters trying to
         wreck our high as we motor along.</p>
    </div>
    <!-- Section 4 -->
    <div class="bg-row" style="background-image:url({{ 'canyon.png' | asset_url }});background-size:cover;background-repeat:no-repeat;">
    </div>
    <div class="float">
      <img src="{{ 'ambition-mantra.png' | asset_url }}" class="float" >
    </div>
    <div class="body">
      <p>Our lifestyle is who we are.
         It’s no more separable from us than our very own DNA.  We breathe our lives. On
         the inhale, we fill our souls and expand our inner landscape with the current of
         life. On the exhale, we open our focus to endless possibilities and our arms to
         fellow travelers.
        <br />
         We find just as much joy in a wordless sunset shared with a friend as we
         do a night of burlesque gaiety. </p>
    </div>
    <!-- Section 5 -->
    <div class="bg-row">
      <img src="{{ 'redride.png' | asset_url }}">
    </div>
    <div class="float">
      <img src="{{ 'wanderer.png' | asset_url }}">
    </div>
    <div class="body">
      <p>We breathe competition.
         We see no obstacles.  The more formidable the terrain, the faster we push.
         We feed off of the burning in our lungs and the dirt on our tongues.
         <br />
         Others may think they’re racing us, but in them, we see mere bystanders.
         Work ethic might be good enough for an office job, but out here
         We judge our progress in scar tissue and wins.
         </p>
    </div>
</div>
